* {
  box-sizing: border-box;
  font-family: opensans;
}
@font-face {
  font-family: opensans;
  src: url("../fonts/OpenSans-Regular.ttf");
}
header {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: black;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 260px;
  color: white;
}
h1 {
  top: auto;
  font-weight: lighter;
}
h2 {
  color: #5d5d5d;
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 10px;
}
h3 {
  color: #5d5d5d;
  font-size: 18px;
  font-weight: 600;
}
.navbar {
  background-color: #61458c;
}
.navbar {
  color: white;
}
.nav-link {
  color: white;
  padding-top: 15px;
}
#whoweare,
#portfolio,
#emailus {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
}
#whowearecontainer {
  margin-top: 50px;
}
.container p {
  text-align: justify;
}
p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
}
#whoweareimage {
  float: left;
  margin-right: 10px;
}
.right-border {
  border-right: 1px solid gainsboro;
}
#adimg {
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 10px;
  max-width: 80%;
  float: right;
}
#services,
#location,
#portfolio,
#whoweare,
#emailus h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#services h3,
#whoweare h3 {
  text-align: left;
}
.fa-stack {
  text-align: center;
}
#services .fa-solid {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.fa-cloud,
.fa-code,
.fa-wifi,
.fa-earth-americas,
.fa-flag,
.fa-gear {
  color: #61458c;
}
.fa-wifi {
  margin-left: -10px;
  rotate: 45deg;
}
.circle {
  display: block;
  height: 70px;
  width: 70px;
  border-color: #f2f2f2;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
  padding-bottom: 14px;
  transition: 0.3s;
}
.circle:hover,
#services .fa-solid:hover {
  background-color: #61458c;
  border-color: #61458c;
  color: white;
}
#portfolio {
  padding-bottom: 70px;
}
#portfolio img {
  height: 130px;
  width: 200px;
  margin-top: 10px;
}
#portfolio img:hover {
  animation: rotation 2s;
}
#animatedImage img:hover {
  animation: rotationComplete 2s;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotationComplete {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-radius: 50%;
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(160deg);
    border-radius: 0%;
  }
}
iframe {
  border-radius: 100%;
  border: 2px solid black;
  text-align: center;
}
#emailus {
  background-image: url("../img/map-image.png");
  background-size: cover;
  background-color: #78629e;
  color: white;
  margin-top: 40px;
}
#emailus h2 {
  color: white;
}
#emailus .row {
  margin-top: 10px;
}
.form-group {
  text-align: right;
}
textarea {
  height: 75px;
}
#submitButtonContainer {
  margin-top: 10px;
  text-align: center;
}
footer {
  background-color: #62468c;
  text-align: right;
  color: white;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
footer a {
  color: white;
}

.fadeup {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.in-view.fadeup,
.in-view .fadeup {
  transform: none;
  opacity: 1;
}

#weatherBar {
  padding-top: 5px;
  padding-bottom: 10px;

  display: none;
  background-color: #61458cbe;
  height: 60px;
  color: white;
  text-align: center;
}

#weatherBar li {
  display: inline;
  padding-left: 40px;
}

#weatherBar span {
  margin-right: 10px;
}

#easteregg {
  padding: 50px;
  display: none;
  text-align: center;
  height:500px;
  width:50%;
  margin:0% auto;
}

#fireworks {
  height:500px;
  width:100%;
}

#quiz {
  margin-top: -500px;
  padding: 30px;
  border: 3px solid #61458c;
  text-align: left;
}

#quiz h1 {
  color: #61458c;
}

#gameResult {
  padding: 50px;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  height: 20%;
  z-index: 1;
}

.modal-content {
  background: rgb(240, 236, 246);
  background: linear-gradient(
    90deg,
    rgba(240, 236, 246, 1) 0%,
    rgba(165, 158, 176, 1) 100%
  );
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  position: relative;
}

.list-group {
  border-radius: 1px solid;
}

.list-group-item {
  border: 5px solid rgba(255, 255, 255, 0.575);
  background-color: #61458c60;
  padding: 5px;
  font-size: large;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

#titleList {
  padding:20px;
  font-size: larger;
  font-weight: bolder;
  list-style-type:decimal;
  line-height: 1.5;
  padding: 0;
}

@media only screen and (max-width: 576px) {
  header {
    background-image: url("../img/header-mini.png");
    height: 250px;
  }
  .container {
    padding-top: 15px;
  }
  h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #4e4e4e;
  }
  h3 {
    font-weight: bolder;
    color: #333333;
    font-size: 20px;
  }
  #whoweare_paragraph {
    padding-left: 30%;
    padding-right: 30%;
  }
  iframe {
    margin-top: 20px;
  }
  .navbar-toggler {
    right: 20px;
    border-color: white;
  }
  #navbarNav {
    margin-top: 10px;
    border-top: 1px solid white;
  }
  .right-border {
    border-right: none;
  }
  #adimg {
    display: none;
  }
  #article_location p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form-group {
    text-align: left;
  }
  #emailus label {
    font-weight: 1000;
  }
  strong {
    font-weight: bold;
    color: black;
  }
  #portfolio p {
    padding-left: 30%;
    padding-right: 30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    background-image: url("../img/header-mini.png");
    height: 250px;
  }
  h2 {
    font-size: 26px;
  }
  iframe {
    margin-top: 20px;
  }
  .right-border {
    border-right: none;
  }
  #adimg {
    display: none;
  }
  #article_location p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #services .container {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    background-image: url("../img/header.jpg");
    height: 250px;
  }
  #article_location p {
    padding-top: 30px;
  }
}
